* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', sans-serif;
  color: #2D3945;
  background: #EFF0F2;
}

.container {
  background: white;
}

/* h1 Colour and styling */

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
/*  color: #FFF;*/
  color: #FFF;
}

h2,
legend {
  color: #2D3945;
  font-size: 1.1em;
  font-weight: 900;
}

/* Extra Normalize Settings */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0;
}


/*************************************************************
HEADER
***************************************************************/

/* Header section background colour and padding */

header {
/*  background: #2D3945;*/
  background: lightblue;
  padding: 10px;
}



/**************************************************************
ASIDE
***************************************************************/

/* Gutter and border styling for aside */

aside {
/*  border-bottom: 3px solid #2D3945;*/
  border-bottom: 3px solid lightblue;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  padding: 20px 0;
}

/* Aside paragraph styling */

aside p {
  color: #ACAFB4;
  padding: 0 2%;
  margin: 14.4px 0;
}



/**************************************************************
MAIN
***************************************************************/

/* Main gutter and top border */

main {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2px;
/*  border-top: 1.5px solid #2D3945;*/
  border-top: 1.5px solid lightblue;
}

/* Label font styling */

label {
  font-size: 0.9em;
  font-weight: 300;
}

/* Block styling to seperate from textarea */

label {
  display: block;
}

/* Input, Select and textarea box styling */

input,
select,
textarea {
  font-family: 'Merriweather', sans-serif;
  background: #EFF0F2;
  border-radius: 5px;
  border-style: none;
  transition: border .5s ease-in-out, background .1s ease-in-out;
  border: 2px solid transparent;
}

/* Focus states for input, select and textarea */

input:focus,
select:focus,
textarea:focus {
/*  border: 2px solid #5b738b;*/
  border: 2px solid lightblue;
  background: #fff;
  outline: none;
}



/**************************************************************
CONTACT INFO
***************************************************************/

/* Legend padding contact form */

.contact-info legend {
  padding: 25px 0;
}

/* LABEL 320px - vertical spacing. 768px - vertical Center Label */

.contact-row label {
  margin-bottom: 10px;
}

/* input and select field vertical spacing */

.contact-row {
  margin-bottom: 8px;
}

/* Contact Form input and select styling */

.contact-row input,
select {
  width: 100%;
  padding: 17px;
  margin-bottom: 7px;
}

/* input placeholder */

input::placeholder {
  font-style: italic;
  font-size: 0.8em;
  color: #bfbfbf;
  color: #a6a6a6;
  text-align: right;
}

/* Cursor style */

select,
button {
  cursor: pointer;
}

/* Select Box dropdown option color */

select,
select option {
  color: #000;
}

/* "Choose State" Visual unselected colour and font-size */

select:invalid,
select option[value=""] {
  color: #bfbfbf;
  font-size: 0.9rem;
}

/* zip code input box sizing */

.half {
  width: 50%;
  max-width: 200px;
}

/* Bottom Border Styling */

.contact-info {
  margin-bottom: 19.92px;
  padding-bottom: 15px;
/*  border-bottom: 2px solid #2D3945;*/
  border-bottom: 2px solid lightblue;
}



/**************************************************************
NEWSLETTER
***************************************************************/

/* Legend styling */

.newsletter legend {
  padding: 10px 0;
  margin-bottom: 10px;
}

/* Paragraph styling */

.newsletter p {
  line-height: 25px;
  margin-bottom: 15px
}

/* Input alignment and styling */

.newsletter-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px
}

/* Input and label horizontal spacing */

.newsletter input {
  margin-right: 15px;
}

/* Textarea label styling */

label[for="other"] {
  margin: 25px 0 15px 0;
}

/* Textarea styling */

textarea {
  height: 110px;
  resize: none;
  width: 100%;
  margin-bottom: 30px;
  padding: 17px;
}

/* Button styling */

button {
  border: none;
/*  background: #4EBBB5;*/
  background: lightblue;
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}



/**************************************************************
FOOTER
***************************************************************/

/* Spacing around paragraph */

footer {
  padding: 30px;
}

/* Footer paragraph styling */

footer p {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  color: #bfbfbf;
  margin-bottom: 150px;
}



/**************************************************************
MEDIA QUERIES
***************************************************************/

@media screen and (min-width: 768px) {
  
  /* container width and centering */
  
  .container {
    max-width: 500px;
    margin: auto;
  }
  
  
  
  /************* HEADER SECTION ***************/
  
  /* Font-size Styling */
  
  header {
    font-size: 0.5em;
  }
  
  
  
  /*************** Aside *********************/
  
  /* Top-padding */
  
  aside {
    padding-top: 35px;
  }
  
  /* h2 Styling and bottom-margin */
  
  aside h2 {
    font-size: 0.9em;
    margin-bottom: 8px;
  }
  
  /* Aside paragraph styling */
  
  aside p {
    font-size: 0.54em;
    margin-top: 0;
    margin-bottom: 20px
  }
  
  
  
  /****************** Main ********************/
  
  /* Top-Padding */
  
  main {
    padding-top: 10px;
  }
  
  /* Aside has border-bottom, main has border top */
  
  
  
  /*****************   Contact Info Section   ***********/
  
  /* Flexbox */
  
  .contact-row {
    display: flex;
    justify-content: space-between;
  }
  
  /* Legend title font-size */
  
  legend {
    font-size: 0.75rem;
  }
  
  /* label centering and font-size */
  
  label {
    font-size: 0.55rem;
    align-self: center;
  }
  
  /* input and select box width */
  
  .contact-row input:not(#zip),
  select {
    width: 75%;
  }
  
  /* Input and Select font sizes and padding */
  
  .contact-row input,
  select {
    font-size: 0.55rem;
    padding: 13px
  }
  
  /* Input placeholder font size */
  
  input::placeholder {
    font-size: 0.5rem;
  }
  
  /* Select placeholder font size */
  
  select:invalid,
  select option[value=""] {
    font-size: 0.55rem;
  }
  
  /* zip code .half normalize */
  
  .half {
    width: 100%;
    max-width: none;
  }
  
  /* Zip code input seperate styling */
  
  input[id="zip"] {
    width: 25%;
    margin-right: 50%;
  }
  
  
  
  /*************** Newsletter Section ***************/
  
  /* Paragraph font-size */
  
  .newsletter p {
    font-size: 0.65rem;
  }
  
  /* textarea label spacing */
  
  label[for="other"] {
    margin: 20px 0 10px 0;
  }
  
  /* textarea styling */
  
  textarea {
    height: 75px;
    margin-bottom: 20px;
    font-size: 0.55rem;
  }
  
  /* Button styling */
  
  button {
    padding: 12px;
    font-size: 0.8rem;
  }
  
  /**************** FOOTER *********************/
  
  /* Footer paragraph padding */
  
  footer {
    padding: 20px
  }
  
  /* Footer paragraph font-size */
  
  footer p {
    font-size: 0.8rem;
  }
  
}













