body {
  font-family: 'Merriweather', sans-serif;
  color: #2D3945;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  color: #FFF;
}

h2,
legend {
  color: #2D3945;
  font-size: 1.1em;
  font-weight: 900;
}

/* Extra Normalize Settings */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0;
}


/**************************************************************
HEADER
***************************************************************/

header {
  background: #2D3945;
  padding: 20px;
}



/**************************************************************
ASIDE
***************************************************************/

/* Gutter and border styling */

aside {
  border-bottom: 3px solid #2D3945;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  padding: 20px 0;
}

aside p {
  color: #ACAFB4;
  padding: 0 2%;
  margin: 14.4px 0;
}



/**************************************************************
MAIN
***************************************************************/

main {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2px;
  border-top: 1.5px solid #2D3945;
}

main legend {
  padding: 1px 0;
}

label {
  font-size: 0.9em;
  font-weight: 300;
}

input,
select,
textarea {
  font-family: 'Merriweather', sans-serif;
  background: #EFF0F2;
  border-radius: 5px;
  border-style: none;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #5b738b;
  outline: none;
}


/**************************************************************
CONTACT INFO
***************************************************************/

.contact-info {
  margin-bottom: 19.92px;
  padding-bottom: 15px;
  border-bottom: 2px solid #2D3945;
}

.contact-info legend {
  padding: 25px 0;
}

.contact-row {
/*
  display: flex;
  flex-direction: column;
*/
  margin-bottom: 10px;
}

input,
select {
  width: 100%;
}

label {
  display: inline-block;
}

.half {
  width: 50%;
  max-width: 200px;
}

.contact-row label {
  margin-bottom: 10px;
}

input::placeholder {
  font-style: italic;
  font-size: 0.8em;
  color: #bfbfbf;
  text-align: right;
}

select {
  cursor: pointer;
}

input,
select {
  padding: 17px 10px;
  margin-bottom: 7px;
}

/* Select Box */

select,
select option {
  color: #000;
}

select:invalid,
select option[value=""] {
  color: #bfbfbf;
  font-size: 0.8rem;
}



/**************************************************************
NEWSLETTER
***************************************************************/

.newsletter legend {
  padding: 10px 0;
  margin-bottom: 10px;
}

.newsletter p {
  line-height: 25px;
  margin-bottom: 15px
}

.newsletter input {
  margin: 0 15px 15px 0;
}

#javascript_nl,
#pt_format {
  margin-bottom: 25px
}

textarea {
/*  -webkit-box-sizing: border-box;*/
  height: 110px;
  resize: none;
  width: 100%;
  margin-bottom: 30px;
  padding: 17px;
}

button {
  display: block;
  border: none;
  background: #4EBBB5;
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 20px 0;
}



/**************************************************************
FOOTER
***************************************************************/

footer {
  padding: 30px;
}

footer p {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  color: #bfbfbf;
}



/**************************************************************
MEDIA QUERIES
***************************************************************/

@media screen and (min-width: 768px) {
  
  .container {
    font-size: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  /* Header */
  
  header {
    padding: 10px;
    font-size: 0.5em;
  }
  
  /* Aside */
  
  aside {
    padding-top: 35px;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  aside h2 {
    font-size: 0.9em;
    margin-bottom: 8px;
  }
  
  aside p {
    font-size: 0.54em;
    margin-top: 0;
    margin-bottom: 20px
  }
  
  /* Main */
  
  main {
    padding-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  /* Aside has border-bottom, main has border top */
  
/*   Contact Info Section   */
  
  legend {
    font-size: 0.75rem;
  }
  
  label {
    font-size: 0.55rem;
  }
  
  /* Flexbox */
  
  .contact-row {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .contact-row input:not(#zip),
  .contact-row select {
    width: 66%;
  }
  
  input[id="zip"] {
    width: 20%;
    margin-right: 46.5%;
  }
  
  .contact-row label {
    align-self: center;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Input and Select font sizes */
  
  input,
  select {
    font-size: 0.55rem;
    padding: 10px
  }
  
  select:invalid,
  select option[value=""] {
    font-size: 0.55rem;
  }
  
  input::placeholder {
    font-size: 0.4rem;
  }
  
  /* .half normalize */
  
  .half {
    width: 100%;
    max-width: none;
  }
  
}













